version: "3.9"

services:
  backend:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env.local

  frontend:
    image: python:3.11-slim
    container_name: praicer_frontend
    working_dir: /app
    volumes:
      - .:/app
    command: streamlit run frontend  --server.port=8501 --server.address=0.0.0.0"
    ports:
      - "8501:8501"
    depends_on:
      - backend
    environment:
      - API_URL=http://backend:8000
    env_file:
      - .env.local
